/* HEAD */

/* BODY */

/* HEADER */

.header {
  text-align: center;
  text-transform: uppercase;
}

.title {
  color: #729FCF;
  font-family: "RomanaEF-Book", "Ramaraja", Times, "Times New Roman", serif;
  font-size: 10rem;
  font-weight: 400;
  letter-spacing: -0.362rem;
  line-height: 9rem;
  margin: 4rem 0 0 -10px;
  vertical-align: baseline;
}

.subtitle {
  color: #333333;
  font-size: 1.375rem;
  font-weight: 400;
  letter-spacing: 0.04rem;
  line-height: 1.375rem;
  vertical-align: baseline;
}

/* CONTENT */
.content {
    margin: 3rem 0 0 0;
}

/* navigation */

.navigation {
  border-bottom: 5px solid #729FCF;
  border-top: 5px solid #729FCF;
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 0.04rem;
  line-height: 1.625rem;
  text-decoration: none;
  vertical-align: baseline;
}

nav a, nav a:focus, nav a:visited {
    color: #333333;
}

nav a:hover, nav a.active{
  background-color: #729FCF;
  color: white;
}

nav li a{
  padding: 0.75rem 1.25rem;
}

nav ul{
  display: inline-block;
  list-style-type: none;
  margin-top: 1.5rem;
  margin-bottom: 0.1rem;
}

nav li{
  float: left;
}

html {
  color: #333333;
  background-color: white;
  font-size: 85%;
}

body {
  font-family:"Tinos";
}

/* headlines */
h1, h2, h3, h4, h5, h6 {
  color: #333333;
  font-weight:700;
  vertical-align: baseline;
}

h1 {
  font-size: 3.5rem;
  letter-spacing: -0.06rem;
  line-height: 2.6rem;
}

h2 {
  font-size: 2.75rem;
  letter-spacing: -0.06rem;
  line-height: 2.6rem;
}

h3 {
  font-size: 2.4rem;
  letter-spacing: -0.06rem;
  line-height: 3.44rem;
}

h4 {
  font-size: 2rem;
  letter-spacing: -0.05rem;
  line-height: 2.2rem;
}

h5 {
  font-size: 1.625rem;
  letter-spacing: -0.06rem;
  line-height: 2.6rem;
}

/* paragraphs */
p, table {
  color: #333333;
  font-size: 1.25rem;
  line-height: 1.625rem;
}

a, a:focus, a:active, a:hover, a:visited {
    color: #729FCF;
    text-decoration: none;
}

.maincontent{
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

/* Text + Bild */

.pic {
  width: 50%;
  float: right;
  font-size: 1rem;

}

.text {
  width: 45%;
  float: left;
}

/* Map */
#mapid { height: 500px; }

/* Accordion */

.tab input {
  position: absolute;
  opacity: 0;
}

.tab label {
  color: white;
  background: #729FCF;
  padding: 0.5rem;
  display: block;
}

.tab input:focus + label,
.tab label:hover {
  background-color: #333333;
  color: white;
}

.tab-content {
  max-height: 0;
  overflow: hidden;
  margin-left: 1.5rem;
}

.tab input:checked ~ .tab-content {
  max-height: 100%;
}

/* FOOTER */

footer a {
  font-size: 1.25rem;
}

footer ul{
  list-style-type:none;
}

footer {
    border-top: 5px solid #729FCF;
    margin: 2.5rem 0 5rem 0;
}

footer section {
    margin-top: 1.5rem;
}

/* MEDIA SCREENS */

/* > 1250pixel */
@media (min-width: 1250px) {
    .container {
      width: 100%;
    }
    .title {
      font-size: 10rem;
    }
}


/* < 1024 pixel */
@media (max-width: 1024px) {
    .container {
      width: 100%;
    }
    . {
      font-size: 16vw;
    }
    .subtitle {
      font-size: 1.65rem;
     }
}


/* < 900 pixel */
@media (max-width: 900px) {
  .title {
      font-size: 17.5vw; }
  .container {
    padding: 1rem;
    width: 100%;
    }
}

/* mobile */
@media (max-width: 600px) {
  .title {
    font-size: 16vw;
    margin-top: 3rem;
  }
  .subtitle {
    font-size: 1.6rem;
    line-height: 2.0rem;
  }
  .navigation {
    font-size: 1rem;
  }
  nav li {
    font-size: 1.5rem;
    display: block;
    float: none;
    padding: 0.5rem;
  }
  h1 {
      font-size: 3.5rem;
  }
  h2 {
      font-size: 3.0rem;
  }
  h3 {
      font-size: 2.6rem;
  }
  h4 {
      font-size: 2.2rem;
  }
  h5 {
      font-size: 2rem;
  }
  h1, h2, h3, h4, h5, h6 {
      line-height: 1;
  }
  p, footer a {
    font-size: 1.5rem;
    line-height: 2.0rem;
  }
  .pic, .text {
    width: 100%;
  }
  .pic{
    margin-bottom: 1rem;
  }
}


/* landscape */
@media (max-width: 480px) {
  .title {
        font-size: 17.6vw;
        line-height: 0.9;
        margin-top: 2.5rem;
    }
    .subtitle {
        font-size: 1.4rem;
    }
    h1 {
        font-size: 3.5rem;
    }
    h2 {
        font-size: 3.2rem;
    }
    h3 {
        font-size: 2.6rem;
    }
    h4 {
        font-size: 2.2rem;
    }
    h5 {
        font-size: 2rem;
    }
    h1, h2, h3, h4, h5, h6 {
        line-height: 1;
    }
    p {
        font-size: 2rem;
        line-height: 2.4rem;
    }
    footer * {
        font-size: 1.6rem;
        line-height: 1.6rem;
    }
    .navigation li {
      font-size: 1rem;
    }

}

/* portrait */
@media (max-width: 320px) {
  .title {
    font-size: 17vw;
  }
  .subtitle {
    font-size: 1.2rem;
    margin-top: 0;
  }
}
